<div class="search-model">
            <div class="h-100 d-flex align-items-center justify-content-center">
                <div class="search-close-switch">+</div>
                <form class="search-model-form form-inline" action="{% url 'search:search' %}">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="site-btn sb-line sb-light-bg text-right">... جستجو</button>
                        </div>
                        <input name="q" class="text-right" type="text" id="search-input" placeholder="...... چیزی تایپ کنید" />
                    </div>
                </form>
            </div>
        </div>